[submodule "comparison_models/ControlNet"]
	path = comparison_models/ControlNet
	url = https://github.com/lllyasviel/ControlNet.git
[submodule "comparison_models/T2IAdapter"]
	path = comparison_models/T2IAdapter
	url = https://github.com/TencentARC/T2I-Adapter.git
